//Body
$body-bg: f89fbd;

//Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-height-base: 0.9rem;
$line-height-base: 1.6;

//Colors
$blue: #3490dc;
$indigo: #6574dc;
$purple: #9561e2;
$pink: #f89fbd;
$red: #cf4843;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;